@charset "utf-8";
/* titulos */
h1{
    color:#fc514e;
	text-align: center;
}

/*subtitulos*/
h2{
	text-align: center;
    color: #a1cd5e;
    align:center;
    font-size: 32px
}
h3{
    color:#fc514e;
    font-size: 32px;
}
.texto_branco{
    color:#eeeeee;
}
div p strong{
    color:#e3d18a;
}
.texto_rosinha{
    color:#ff5874;
    font-size:23px;
    text-align:center;
}
.texto_destaque{
    font-size:25px;
    color:#1d3b53;
    background-color:#7fdbca;
    border: 5px solid #011627;
    border-radius: 1em;
    padding: 10px;
    width:252px;
}
.float_right{
    color: red;
	float:right;
	margin-right:0px;
}

.float_left{
 	color: #0018ff;
	float:left;
	width:620px;
	margin-left:50px;
}

.float_center{
 	color: #0018ff;
	float:center;
}

/*----------------Floats do Bloco 2---------------- 2*/
.float_left{
 	color: #0018ff;
	float:left;
	width:800px;
	margin-left:50px;
}

.float_left2{
 	color: #0018ff;
	margin-left:50px;
    clear:both
}


/*----------------------------------------------------- 2*/

.texto{ 
	font-family:Arial;
	font-size:15px;
	color:#ff0000
}

.text_center{
    padding-top:750px;
    text-align: center;
}

.texto_bloco3{
    text-align: left;
    margin-left: 150px;
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

form {
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

#CADASTRO{
	width:800px;
}
input {
	width:750px;
    color: #eeeeee; 
	font-size: 16px; 
	background-color: #1d3b53; 
	padding: 20px; 
	border: 3px blue;
	border-radius:10px;
}

div div li{
    color:black;
    padding: 12px;
    width:400px;
}
li{
    color:#a1aab8;
    padding:12px;
    width:400px;
}
/*margem entre os campos do formulario */
form div + div {
    margin-top: 1em;
}

input:focus, textarea:focus {
    /* Dar destaque nos elementos ativos */
    border-color: #2BE9D5;
}

.botaoInscrever{
    width: 1px;
    text-align: center;
    padding: 5px 20px;
    border-radius: 6px;
    font-size: 18px;
}


/*REDEFINIR TAG */
body{
	background-color: #011627;
	margin:0px;
    font-family:'Raleway';
    font-size:25px;
}

.section3{
    float:left;
    padding-top:80px;
    padding-bottom:90px;
    background-color:#eeeeee; 
    width:100%;
}

.bloco4{
    padding-top:1010px;
    padding-bottom:70px;
    padding-left:150px;
    background-color:#1d3b53;
}
.bloco5{
    float:left;
    width:100%;
}
