@charset "utf-8";
/* titulos */
h1{
    color:#fc514e;
	text-align: center;
    padding-bottom:50px;
    padding-top:20px;
}

/*subtitulos*/
h2{
	text-align: center;
    color: #a1cd5e;
    align:center;
    font-size: 32px
}

article div h2{
    text-align: left;
    color: #a1cd5e;
    align:left;
    margin-left:250px;
    font-size: 32px
}

h3{
    color:#fc514e;
    font-size: 32px;
}

/********************* texts *********************************/ 
/*texto do bloco 1*/
.texto_branco{
    color:#eeeeee;
}
/*texto do bloco 1 
(apos formulario)*/
.texto_rosinha{
    color:#ff5874;
    font-size:23px;
    text-align:center;
}
/*texto destacado do bloco 4*/
.texto_destaque{
    font-size:25px;
    color:#1d3b53;
    background-color:#7fdbca;
    border: 5px solid #011627;
    border-radius: 1em;
    padding: 10px;
    width:252px;
}

.texto_bloco3{
    text-align: left;
    margin-left: 150px;
}

/*style do negrito*/
div p strong{
    color:#e3d18a;
}

/*texto centralizado*/
.text_center{
    padding-top:800px;
    padding-bottom:50px;
    text-align: center;
}
/*texto bloco 5*/
.texto_info{
    font-size:25px;
    padding:15px;
    padding-left:150px;
    color:#acb4c2;
    width:600px;
}

/*style da lista do bloco 3 (branco)*/
div div li{
    color:black;
    padding: 12px;
    width:400px;
}
/*style da lista do bloco 4*/
li{
    color:#a1aab8;
    padding:12px;
    width:400px;
}

/********************* end texts ********************************/ 

/******************** Floats ************************************/
/*float esquerdo*/
.float_left{
 	color: #0018ff;
	float:left;
	width:800px;
	margin-left:50px;
}
/*float direito*/
.float_right{
	float:right;
	margin-right:0px;
}
/*float da imagem 2*/
.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

/******************** end floats ************************************/

/********************* formulario ***********************************/
form {
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

/*tamanho do formulario CADASTRO*/
#CADASTRO{
	width:800px;
}

/*style dos campos (input)*/
input {
	width:750px;
    color: #eeeeee; 
	font-size: 16px; 
	background-color: #1d3b53; 
	padding: 20px; 
	border: 3px blue;
	border-radius:10px;
}

/*margem entre os campos do formulario */
form div + div {
    margin-top: 1em;
}

input:focus, textarea:focus {
    /* Dar destaque nos elementos ativos */
    border-color: #2BE9D5;
}

/*style do botão*/
.botaoInscrever{
    width: 1px;
    text-align: center;
    padding: 5px 20px;
    border-radius: 6px;
    font-size: 18px;
}

/******************* end formulario ***********************************/

/************* Definiçao corpo/blocos/rodapé ****************************/
body{
    min-height: 100vh;
    width:100%;
	background-color: #011627;
	margin:0px;
    font-family:'Raleway';
    font-size:25px;
}

.bloco3{
    float:left;
    padding-top:80px;
    padding-bottom:110px;
    background-color:#eeeeee; 
    width:100%;
}

.bloco4{
    padding-top:1010px;
    padding-bottom:70px;
    padding-left:150px;
    background-color:#1d3b53;
}

.bloco5{
    float:left;
    padding-top:100px;
    width:100%;
}

/*style do rodapé*/
footer{
    background-color:#1d3b53;
    width:100%;
    padding-top:36px;
    padding-bottom:px;
    margin-top:800px;
    margin-right:0px;
    margin-bottom:0px;
    color:white;
    text-color:white;
}
